@{
    ViewBag.Title = "Home";
}
<div class="container-fluid">
    <br />
    <input type="button" onclick="location.href='@Url.Action("CreateTheme","Home")'" value="Create theme"
           class="btn btn-primary" />
    <div id="themeContainer">
        @Html.Partial("_ThemePartial")
    </div>
    @Ajax.ActionLink("ThemeUpdate", "Index", new { beginThemeUpdate = "" },
    new AjaxOptions { UpdateTargetId = "themeContainer", OnSuccess = "ThemeOnSuccess"/*, OnBegin = "ThemeOnBegin" */},
    new { @id = "ThemeUpdate", @style = "visibility:hidden;" })
</div>

@section scripts
{
    @Scripts.Render("~/bundles/unobtrusive-ajax")

    <script type="text/javascript">
//        var scrollNow;

        $(document).ready(function () {
            var href = "/Home";
            // Ajax.ActionLink.
            $("#ThemeUpdate").attr("href", href).click();
        });

 //       function ThemeOnBegin() {
 //           scrollNow = document.documentElement.scrollTop;
//        }

        function ThemeOnSuccess(result) {
            // Update field Themes every 45 s.
            setTimeout("Refresh();", 45000);
 //           window.scroll(0, scrollNow);
        }

        function Refresh() {
            var href = "/Home";
            $("#ThemeUpdate").attr("href", href).click();
        }
    </script>
}